<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="container">
        <%- include('../partials/tablaDinamica'); %>
        <a href="/api/formulario" class="btn btn-primary">Añadir productos</a>
    </div>
</body>

</html>